.invisible {
    display: none;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    background-repeat: no-repeat;
}

.logo {
    font-size: 25px;
    margin-left: 20px;
}

.horizon-flex {
    display: flex;
    justify-content: space-around;
}