body {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	font-family: 'Lato', sans-serif;

}

#gallery {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;

	.images {
		width: 500px;
		height: 300px;
	}
}

#description {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-top: 100px;

	p {
		margin-bottom: 20px;
		overflow: scroll;
		max-height: 400px;
	}
}

.lightboxes {
	background-color: #2e2e2e;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	.closebutton {
		position: absolute;
		top: 0	;
		right: 0;
		color: $primary;
		font-size: 35px;
		padding-right: 40px;
	}

	div {
		max-width: 1300px;
		display: flex;
		justify-content: center;
		align-items: center;
		
	
		img {
			width: 100%;
			height: auto;
		}
	}
}

.visible {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	height: 82px;
	background-color: $secondary;
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	color: $primary;

	ul {
		list-style-type: none;
		height: 20px;
		width: 200px;
		display: flex;
		justify-content: space-around;

		li {
			display: block;
		}
	}
}


#footer {
	background-color: $secondary;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $primary;
	margin-top: 184px;

	p:last-child {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 1540px) {
	#gallery {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 100px;
	
		.images {
			width: 100%;
			height: auto;
		}
	}
}