footer {
	background-color: $secondary;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $primary;

	.logo {
		font-size: 25px;
		margin-left: 20px;
	}

	p:last-child {
		margin-right: 20px;
	}
}